<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-on:input="changeTitle">
        <p>{{ title }}</p>
    </div>
    <script>
        new Vue({
           el: '#app',
           data: {
               title: 'Hello World !'
           },
            methods: {
               changeTitle: function(event) {
                   this.title = event.target.value;
               }
            }
        });
    </script>
</body>
</html>