<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../vue.js"></script>
    <title>Events</title>
</head>
<body>
    <div id="app">
        <button v-on:click="count(2, $event)">Click me</button>
        <button v-on:click="counter++">Click me</button>
        <p>{{ counter }}</p>
        <p v-on:mousemove="updateCoordinates">
            Coordinates: {{ x }} / {{ y }}
            - <span v-on:mousemove.stop="">DEAD SPOT</span>
        </p>
        <!-- Event modifier -->
        <input type="text" v-on:keyup.enter="alertMe">
        <!-- Two way data binding -->
        <input type="text" v-model="name">
        <p>{{ name }}</p>
    </div>
    <script src="app.js"></script>
</body>
</html>