<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reactivity</title>
    <script src="../../vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">Increase second counter</button>
        <p>Counter : {{ counter }} | {{ secondCounter }}</p>
        <p>Result : {{ result() }} | {{ output }}</p>
    </div>
    <script src="app.js"></script>
</body>
</html>