<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions</title>
</head>
<body>
    <div id="app">
        <p v-if="show">You can see me !</p>
        <p v-else>Now you see me !</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <!-- Remove the element with a display none (less performant) -->
        <p v-show="show">Do you also see me ?</p>
        <button @click="show=!show">Switch</button>
    </div>
    <script src="../../vue.js"></script>
    <script src="app.js"></script>
</body>
</html>