<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM Interaction</title>
</head>
<body>
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
        <hr>
        <p v-html="finishedLink"></p>
    </div>
    <script src="../vue.js"></script>
    <script src="app.js"></script>
</body>
</html>