#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.text {
  font-weight: 900;
  font-style: oblique;
}

.textColor {
  color: blueviolet;
}

.red {
  background-color: red;
  height: 50px;
  width: 50px;
}

.purple {
  background-color: rebeccapurple;
  height: 50px;
  width: 50px;
}

.yellow {
  background-color: yellow;
  height: 50px;
  width: 50px;
}

.gray {
  background-color: gray;
  height: 50px;
  width: 1px;
}

.border {
  height: 50px;
  width: 50px;
  border: medium dashed green;
}