<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
        </ul>
        <button @click="ingredients.push('spices')">Add new</button>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }} : {{ value }} ({{ index }})</div>
            </li>
        </ul>
        <hr>
        <span v-for="n in 10">{{ n }} </span>
        <hr>
        <!-- Alternative -->
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>

    </div>
    <script src="../../vue.js"></script>
    <script src="app.js"></script>
</body>
</html>